/* Login Container */
.login-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #124c87; /* Dark Blue Background Color */
}

/* Login Form */
.login-form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Form Elements */
.form-group {
    margin-top: 2rem; /* Adjust the top margin */
    margin-bottom: 2.5rem; /* Adjust the bottom margin */
}

.form-label {
    font-size: 1rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.form-input {
    width: 100%;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.2s;
}

.form-input:focus {
    outline: none;
    border-color: #007bff;
}

/* Apply margin to the bottom of each form element except the last one */
.form-group:not(:last-child) {
    margin-bottom: 1rem;
}

/* Login Button */
.login-button {
    width: 100%;
    margin-top: 1rem; /* Adjust the top margin */
    padding: 0.5rem;
    background-color: #124c87;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.login-button:hover {
    background-color: #0056b3;
}

.login-bg {
    background-image: linear-gradient(to right, #a5b1f2, #2683ec);
}
